/* ------------ GLOBAL ------------ */
* {
	box-sizing: border-box; /*évite que les éléments soient agrandis par le padding*/
}

@supports not selector(::-webkit-scrollbar) {
	* {
		scrollbar-width: thin;
		scrollbar-color: var(--neutralDarker) var(--co-gradient);
	}
}

::-webkit-scrollbar {
	width: 2px;
	height: 2px;
}

::-webkit-scrollbar-track-piece {
	background-color: var(--neutralDarker);
}

::-webkit-scrollbar-thumb {
	background: linear-gradient(45deg, var(--co-1), var(--co-2));
}

/* ------------ STRUCTURE ------------ */
.main_forum {
	min-width: 980px;
	width: 70vw;
	margin: 0 auto;
	border-radius: 5px;
}

/* ------------ MENU & FLOATING ELEMENTS ------------ */
.ascenseur {
	position: fixed;
	right: 45px;
	bottom: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 135px;
}

/* boutton light/dark */

/* ------------ CATÉGORIES ------------ */
/* cate en onglets */
.tab-content {
	display: none;
}
.active {
	display: block;
}

.tabs ul li a span:nth-child(2) {
	font-size: var(--medium-size);
	font-family: var(--font-2);
	font-style: italic;
}

.tabs ul li a span:nth-child(3) {
	font-size: var(--small-size);
	text-transform: uppercase;
}

.tabs ul li a:focus {
	background: var(--neutralDarker);
}

.tabs ul {
	grid-row: 1;
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
}

.tabs ul li {
	height: 100%;
}

.tabs ul li a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5px;
	height: 100%;
	background: var(--neutralDark);
	border-bottom: 1px solid var(--neutralDark);
	transition: 0.5s all;
}

.tabs ul li a:hover {
	background: var(--neutralDarker);
}

.tabs .tab-content {
	display: none;
}

.tabs .tab-content.active {
	display: block;
}

.tab-content {
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

.tab-content.active {
	opacity: 1;
}

/* cate spéciales : index */
#c1 .cate_title {
	display: none;
}

#c1 .forums {
	display: grid;
	grid-template: repeat(2, 1fr) / repeat(2, 1fr);
	gap: 20px;
}

#c1 .forum:first-of-type {
	grid-row: 1 / span 2;
	padding: 0;
	background-color: transparent;
}

#c1 .forum:first-of-type .forum_avatar.lastpostavatar,
#c1 .forum:first-of-type .lastpost,
#c1 .forum:first-of-type .forum_details,
#c1 .forum:first-of-type .forum-img,
#c1 .forum:first-of-type .forum_stats,
#c1 .forum_details,
#c1 .forum:first-of-type .fo_stats,
#c1 .forum_details,
#c2 .forum_details,
#c7 .forum_details {
	display: none;
}

#c1 .forum:first-of-type .forum_desc,
#c2 .forum .forum_desc,
#c7 .forum .forum_desc {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.c1_links {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	margin-top: 15px;
}

.c1_links a {
	background-color: var(--co-2);
	padding: 5px;
	border-radius: 5px;
	font-size: var(--little-size);
	text-align: center;
}

#c1 .desc,
#c2 .desc,
#c7 .desc {
	height: 80px;
}

#c1 .forum:nth-child(2) .forumtitle,
#c1 .forum:nth-child(2) .desc,
#c1 .forum:nth-child(2) .fo_stats,
#c1 .forum:nth-child(2) .fo_links,
#c2 .forum .forumtitle,
#c7 .forum .forumtitle,
#c2 .forum .desc,
#c7 .forum .desc,
#c2 .forum .fo_stats,
#c7 .forum .fo_stats,
#c2 .forum .fo_links,
#c7 .forum .fo_links {
	margin-left: 20px;
}

#c1 .forum:nth-child(3) .desc {
	margin-right: 20px;
}

#c1 .forum-img,
#c2 .forum-img,
#c7 .forum-img {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 25px 0 0 30px;
	width: 70px;
	height: 70px;
	background-color: var(--neutralDark);
}

#c1 .forum-img.bounce,
#c2 .forum-img.bounce,
#c7 .forum-img.bounce {
	top: 10px;
	padding: 20px 0 0 25px;
}

#c1 .forum:nth-child(2) .forum-img,
#c2 .forum .forum-img,
#c7 .forum .forum-img {
	grid-row: 1 / span 4;
	grid-column: 1;
	justify-self: end;
	align-self: end;
	margin: 0 -1px -20px auto;
	clip-path: polygon(100% 0, 0% 100%, 100% 100%);
	z-index: 1;
}

#c1 .forum:nth-child(3) .forum-img {
	grid-row: 1 / span 4;
	grid-column: 2;
	justify-self: end;
	align-self: end;
	margin: 0 -21px -20px auto;
	clip-path: polygon(100% 0, 0% 100%, 100% 100%);
	z-index: 1;
}

#c1 .forum:not(:first-of-type) .forum_desc,
#c2 .forum .forum_desc,
#c7 .forum .forum_desc {
	display: grid;
	grid-template-columns: repeat(2, 50%);
	gap: 10px 0;
}

#c1 .forum:nth-child(2) .fo_stats,
#c2 .forum .fo_stats,
#c7 .forum .fo_stats {
	grid-row: 3;
	grid-column: 2;
	margin-top: 5px;
}

#c1 .forum:nth-child(3) .fo_stats {
	grid-row: 3;
	grid-column: 1;
	margin-top: 5px;
}

#c3 .fo_stats,
#c6 .fo_stats {
    margin: 0 auto;
}

#c1 .fo_links,
#c2 .fo_links,
#c7 .fo_links {
	grid-row: 4;
	text-align: left;
}

.fo_links a {
	background-color: var(--co-2);
	margin-right: 5px;
	padding: 0 5px;
	border-radius: 5px;
	font-size: var(--little-size);
	color: white;
	text-transform: lowercase;
	text-align: center;
}

.fo_stats {
	display: flex;
	gap: 10px;
	width: fit-content;
}

#c1 .forum_stats,
#c2 .forum_stats,
#c7 .forum_stats {
	justify-self: center;
	align-self: center;
	flex-direction: column;
}

#c1 .forum:nth-child(2) .forum_stats,
#c2 .forum .forum_stats,
#c7 .forum .forum_stats {
	grid-row: 1 / span 4;
	grid-column: 1;
	margin-left: -20px;
}

#c1 .forum:nth-child(3) .forum_stats {
	grid-row: 1 / span 4;
	grid-column: 2;
	margin-right: -20px;
}

#c1 .forum_stats span,
#c2 .forum_stats span,
#c7 .forum_stats span {
	background: var(--neutralDark);
	padding: 5px;
	border-radius: var(--radius);
	text-align: center;
	color: var(--contrast);
}

#c1 .forum:nth-child(2) .fo_deco,
#c2 .forum .fo_deco,
#c7 .forum .fo_deco {
	grid-row: 1 / span 4;
	grid-column: 1;
	margin: -20px 0 -20px -20px;
	border-radius: var(--radius) 0 0 var(--radius);
	overflow: hidden;
}

#c1 .forum:nth-child(3) .fo_deco {
	grid-row: 1 / span 4;
	grid-column: 2;
	margin: -20px -20px -20px 0;
	border-radius: 0 var(--radius) var(--radius) 0;
	overflow: hidden;
}

.cate_title::before {
    content: '';
    display: block;
    width: 400px;
    height: 120px;
    border: 1px solid white;
    border-radius: 50%;
    grid-row: 1;
    grid-column: 1;
    margin: 15px -10px 0 0;
    transform: rotate(-10deg);
    position: relative;
    z-index: 1;
    animation: mini-bounce 2s ease infinite alternate;
}

.cate_title::after {
    content: '';
    display: block;
    width: 400px;
    height: 120px;
    border: 1px solid white;
    border-radius: 50%;
    grid-row: 1;
    grid-column: 1;
    margin: -15px 0 0 0;
    transform: rotate(-10deg);
    position: relative;
    animation: mini-bounce 2s ease infinite alternate;
}

.cate_title {
	display: grid;
	justify-content: center;
	align-items: center;
	position: relative;
	width: fit-content;
	margin: 0 auto 70px;
}

.cate_title h2::before {
	left: 20px;
	bottom: -14px;
}

.cate_title h2::after {
	right: 20px;
	top: -10px;
}

.cate_title h2::before,
.cate_title h2::after {
	position: absolute;
	content: '\eca0';
	font-family: var(--font-ic);
	font-size: var(--medium-size);
	color: white;
}

.cate_title h2 {
    display: flex;
    width: 400px;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    grid-row: 1;
    grid-column: 1;
    color: white;
    font-size: var(--xl-size);
    font-family: var(--special-font);
    text-shadow: 0 0 5px white;
    font-weight: 400;
}

#c3 .cate_title,
#c6 .cate_title {
	display: none;
}

#c3 .forum_content,
#c6 .forum_content {
	grid-row: 1;
	grid-column: 1;
	z-index: 1;
}

#c3 .forum,
#c6 .forum {
	padding: 0;
	background: transparent;
	display: grid;
	width: 22vw;
	height: 155px;
}

#c3 .forum::after,
#c6 .forum::after {
	content: '';
	position: absolute;
	grid-row: 1;
	grid-column: 1;
	display: block;
	height: 190px;
	width: 100%;
	border-radius: 50%;
	background: var(--co-gradient);
	border: 1px solid white;
	border-bottom: 25px solid white;
	margin-top: -30px;
	box-shadow: inset 0 0 7px var(--neutral);
}

#c3 .forum_stats,
#c3 .forum_details,
#c6 .forum_stats,
#c6 .forum_details {
	display: none;
}

/* OVALES */
#c3 .forum:nth-child(1)::after,
#c6 .forum:nth-child(1)::after {
	transform: rotate3d(-5, 1, 0, 58deg);
	animation: bounce 2s 2s ease infinite alternate;
}

#c3 .forum:nth-child(2)::after,
#c6 .forum:nth-child(2)::after {
	transform: rotate3d(5, 1, 0, 58deg);
	top: 10px;
	animation: rev-bounce 2s 2s ease infinite alternate;
}

#c3 .forum:nth-child(3)::after,
#c6 .forum:nth-child(3)::after {
	transform: rotate3d(-5, 1, 0, 58deg);
	animation: bounce 2s 1s ease infinite alternate;
}

#c3 .cp-stars,
#c6 .cp-stars {
	position: absolute;
	background: transparent;
	right: 56px;
	color: white
}

#c3 .forum-img,
#c6 .forum-img {
	position: absolute;
	right: -25px;
}

#c3 .forum:nth-child(1) .forum-img,
#c6 .forum:nth-child(1) .forum-img {
	top: 20px;
}
#c3 .forum:nth-child(1) .cp-stars,
#c6 .forum:nth-child(1) .cp-stars {
	top: 0;
	animation: bounce 2s 2s ease infinite alternate;
}

#c3 .forum:nth-child(2) .forum-img,
#c6 .forum:nth-child(2) .forum-img {
	top: 50px;
}
#c3 .forum:nth-child(2) .cp-stars,
#c6 .forum:nth-child(2) .cp-stars {
	top: 10px;
	animation: rev-bounce 2s 2s ease infinite alternate;
}

#c3 .forum:nth-child(3) .forum-img,
#c6 .forum:nth-child(3) .forum-img {
	top: 33px;
}
#c3 .forum:nth-child(3) .cp-stars,
#c6 .forum:nth-child(3) .cp-stars {
	top: 0;
	animation: bounce 2s 1s ease infinite alternate;
}

#c3 .forumtitle,
#c6 .forumtitle {
	display: block;
	font-size: var(--xl-size);
	line-height: var(--xl-size);
	text-transform: uppercase;
	font-weight: 400;
	margin: 0 auto 5px;
	color: white;
}

#c3 .forum_lastpost,
#c6 .forum_lastpost {
	width: fit-content;
}

#c3 .forums,
#c6 .forums {
	display: flex;
	justify-content: center;
	gap: 30px;
}

.fo_deco {
    display: grid;
}

.fo_deco > * {
    grid-row: 1;
    grid-column: 1;
}

.fo_deco img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.9;
}

#c4 .fo_deco img,
#c5 .fo_deco img,
#c8 .fo_deco img {
	grid-row: 1;
	grid-column: 1;
	width: calc(100% + 20px);
	height: 350px;
	margin: -20px 0 0 -20px
}

#c4 .fo_deco::after,
#c5 .fo_deco::after,
#c8 .fo_deco::after {
	width: calc(100% + 20px);
	height: calc(100% + 20px);
	margin: -20px 0 0 -20px;
}

#c2 .forums,
#c7 .forums {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 30px;
}

#c4 .tabs ul,
#c5 .tabs ul,
#c8 .tabs ul {
	display: flex;
	justify-content: space-between;
}

#c4 .forumtitle span:not(:nth-child(2)),
#c5 .forumtitle span:not(:nth-child(2)),
#c8 .forumtitle span:not(:nth-child(2)) {
	display: none;
}

#c4 .forum,
#c5 .forum,
#c8 .forum {
	border-radius: 0 var(--radius) var(--radius) 0;
}

#c4 .forum_content,
#c5 .forum_content,
#c8 .forum_content {   
	display: grid;
	grid-template: 140px 1fr / 1fr 30%;
}

#c4 .forumtitle,
#c5 .forumtitle,
#c8 .forumtitle {
	color: white;
	font-size: var(--xxl-size);
	line-height: var(--xxl-size);
	margin-left: auto;
	display: block;
	text-transform: uppercase;
	align-self: start;
	grid-row: 1;
	grid-column: 1 / span 2;
	width: 90%;
	font-weight: 400;
	text-align: right;
	z-index: 2;
}

#c4 .forum-img,
#c5 .forum-img,
#c8 .forum-img {
	grid-row: 1;
	grid-column: 2;
	justify-self: end;
	align-self: start;
	text-align: right;
	transform: translate(13px, -13px);
	color: white;
}

#c4 .fo_deco,
#c5 .fo_deco,
#c8 .fo_deco {
	grid-row: 1;
	grid-column: 1;
	display: grid;
}

.fo_deco::after {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background: var(--co-2);
	grid-row: 1;
	grid-column: 1;
}

#c4 .desc,
#c5 .desc,
#c8 .desc {
    grid-row: 2;
    grid-column: 1;
    transform: translateY(30px);
    height: 90px;
    overflow: auto;
    margin-bottom: 30px;
}

#c4 .forum_stats,
#c5 .forum_stats,
#c8 .forum_stats {
	grid-row: 2;
	grid-column: 1;
	justify-content: end;
	align-self: start;
	opacity: 1;
}

#c4 .fo_stats,
#c5 .fo_stats,
#c8 .fo_stats {
	grid-row: 1;
    	grid-column: 2;
    	transform: translateY(88px);
    	width: 100%;
    	height: fit-content;
}

#c4 .forum_details,
#c5 .forum_details,
#c8 .forum_details {
	grid-row: 2;
	grid-column: 2;
	z-index: 2;
	margin-top: 10px;
}

#c4 .forumtitle::after,
#c5 .forumtitle::after,
#c8 .forumtitle::after {
	content: '';
	display: block;
	height: 1px;
	background: white;
	margin-top: 5px;
}

#c4 .forum_desc,
#c5 .forum_desc,
#c8 .forum_desc {
	grid-row: 1 / span 2;
	grid-column: 1 / span 2;
	display: grid;
	grid-template: 1fr auto / 1fr 30%;
	gap: 20px;
}

#c4 #subforum,
#c5 #subforum,
#c8 #subforum {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;
	overflow: hidden auto;
	padding-right: 3px;
	height: 320px;
}

#c4 #subforum a,
#c5 #subforum a,
#c8 #subforum a {
	width: 100%;
	background-color: var(--co-2);
	padding: 5px;
	border-radius: 5px;
	text-align: center;
	color: white;
}

/* catégories RP */
#c4 .tabs,
#c5 .tabs,
#c8 .tabs {
	display: grid;
	grid-template-columns: 170px 1fr;
	border-radius: var(--radius);
	overflow: hidden;
}

/* HIDE PROFILE */
.post:has(.annexe) .post_profile,
.post:has(.annexe) .post_avatar {
    display: none;
}

.post:has(.annexe) .post_message {
	margin: 0;
}

.post:has(.annexe) .post_message {
    grid-column: 1 / span 2;
    padding: 25px;
}

/* FORUMS */
.forum {
background: var(--neutral);
padding: 20px;
border-radius: 5px;
position: relative;
overflow: hidden;
}

.forum:not(#c1 .forum:first-of-type, #c3 .forum, #c6 .forum) {
backdrop-filter: blur(10px);
}

.int_forum .cate_title span:not(:nth-child(2)) {
    display: none;
}

.int_forum {
    padding: 0 !important;
    background: transparent !important;
}

.int_forum .forum_desc { 
display: grid;
grid-template-columns: 215px 1fr;
justify-content: space-between;
align-items: center;
grid-gap: 10px;
margin-bottom: 10px;
background: var(--neutral);
border-radius: var(--radius);
overflow: hidden;
}

.int_forum .forumtitle { 
  position: relative; 
  font-weight: 500; 
  text-transform: uppercase; 
  letter-spacing: 1px; 
  top: -33px;
  grid-row: 1;
  grid-column: 2; }

.int_forum .forum-img { 
grid-row: 1;
grid-column: 1;
justify-self: end;
align-self: end;
clip-path: polygon(100% 0, 0% 100%, 100% 100%);
z-index: 1;
display: flex; 
justify-content: center; 
align-items: center; 
margin-bottom: -1px;
padding: 25px 0 0 30px;
width: 70px; 
height: 70px; 
background-color: var(--neutralDark);
}

.int_forum .fo_deco { 
  grid-row: 1; 
  grid-column: 1; }

.int_forum .desc { 
  grid-row: 1; 
  grid-column: 2; 
  height: 65px;
  margin-top: 30px;
}

.int_forum .forum_stats {
    grid-row: 1;
    grid-column: 1;
    justify-self: center;
    align-self: center;
    flex-direction: column;
}

.int_forum .forum_stats span {
    background: var(--neutralDark);
    padding: 5px;
    border-radius: var(--radius);
    text-align: center;
    color: var(--contrast);
}

.int_forum .fo_stats { 
  grid-row: 1; 
  grid-column: 3;
  margin-right: 20px;}

.int_forum .fo_deco::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    background: var(--co-2);
    grid-row: 1;
    grid-column: 1;
}

.int_forum .forum_details {
    background: var(--neutral);
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 35px;
    border-radius: var(--radius);
    margin-bottom: 20px;
}  

.int_forum .forum_details::before {
    content: "\ec0c";
    font-family: var(--font-ic);
    color: var(--co-1);
}

/* ------------ GÉNÉRALITÉS ------------ */
/* Emoji mis par défaut de FA
* Les réduire les rend moins horribles à voir */
.emojione {
	width: 19px !important;
}


/* liens du forum */


/*** ------------------------------- ***/
/*** PAGES D'ACCUEIL ------------ ***/
#newsareal1 {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.topicslist_infos img {
    display: none;
}

#newsareal1 .topicslist_infos {
    min-height: 0;
    border-radius: var(--radius);
    background: var(--neutral);
    padding: 0;
}

newsareal1 .topicslist_infos {
    padding: 0;
    display: block;
}

#newsareal1 .topicslist_infos::before {
    content: none;
}

#newsareal1 .topicslist_infos > div {
    padding: 0;
}

#newsareal1 .topicslist_infos .topic_author {
    display: none;
}

#newsareal1 .topicslist_infos:hover {
    width: 100%;
    background: var(--co-gradient);
    border-radius: var(--radius);
    color: white;
}

#newsareal1 .topicslist_infos a {
    width: 100%;
    font-size: var(--little-size);
    letter-spacing: 1px;
    padding: 0 5px;
    border-radius: var(--radius);
}

#newsareal1 .topicslist_infos:hover a {
	color: white;
}

/*** ------------------------------- ***/
/*** FICHES DE PRÉSENTATION ------------ ***/
.flex {
	display: flex;
	gap: 20px;
}

.block {
	background: var(--neutral);
	border-radius: var(--radius);
	padding: var(--spacing);
}
.prez_av {
	width: 200px;
	height: 320px;
	border-radius: var(--radius) 0;
}
.prez_ics img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 1px solid var(--co-1);
}
.prez_ics img:first-of-type {
	transform: translate(0, 20px);
}
.prez_ics img:last-of-type {
	transform: translate(-20px, -10px);
}
.prez_aes .sub-4 {
	position: relative;
	margin: -20px 34px 30px 135px;
	font-size: var(--small-size);
	font-style: italic;
}
.prez_aes .sub-4::before {
	content: '\00201C';
	position: absolute;
	left: -45px;
	font-family: var(--special-font);
	font-size: var(--xxl-size);
	color: var(--co-1);
}
.prez_aes .sub-4::after {
	content: '\00201D';
	position: absolute;
	right: -30px;
	font-family: var(--special-font);
	font-size: var(--xxl-size);
	color: var(--co-1);
}
.prez_kw {
	position: relative;
}
.prez_kw::before {
	position: absolute;
	top: -10px;
	left: -4px;
	content: '\eca0';
	font-family: var(--font-ic);
	font-size: var(--medium-size);
	color: var(--co-2);
	text-shadow: 0 0 3px;
}
ellipsis {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70px;
	border-bottom: 7px solid;
	border-radius: 50%;
	background: var(--co-gradient);
	box-shadow: inset 0 0 7px var(--neutral);
	color: white;
}
ellipsis:nth-child(1) {
	transform: rotate(9deg);
}
ellipsis:nth-child(2) {
	transform: rotate(-3deg);
}
ellipsis:nth-child(3) {
	transform: rotate(9deg);
}
ellipsis:nth-child(4) {
	transform: rotate(-3deg);
}
.prez_anec {
	position: relative;
}
.prez_anec::after {
	position: absolute;
	bottom: -10px;
	right: 30px;
	content: '\eca0';
	font-family: var(--font-ic);
	font-size: var(--medium-size);
	color: var(--co-1);
	text-shadow: 0 0 3px;
}
annee {
	position: relative;
	display: block;
	font-size: var(--xxl-size);
	font-family: var(--font-2);
	font-style: italic;
	letter-spacing: -5px;
	margin: -33px 20px -25px;
	color: var(--co-3);
	z-index: 0;
}
card {
	position: relative;
	z-index: 1;
	display: block;
	padding: var(--spacing);
	border-radius: var(--radius);
	background: var(--neutralDark);
	backdrop-filter: blur(3px);
}

/* FICHE 2 */
.fiche2 {
	background: var(--neutral);
	max-width: 700px;
	margin: auto;
	line-height: 1.5em;
	border-radius: var(--radius);
	padding: 20px;
}
.block1_fiche {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	gap: 20px;
}
.avatar_fiche2 {
	flex: 1;
	text-align: center;
	position: relative;
}
.avatar_fiche2 img {
	width: 200px;
	height: 320px;
	border-radius: var(--radius);
}
.avatar_fiche2::before {
	content: '\eca0';
	font-family: var(--font-ic);
	color: var(--co-2);
	position: absolute;
	left: -10px;
	top: -10px;
}
.fc_fiche {
	margin-top: 10px;
	background-color: var(--co-1);
	color: #fff;
	font-size: var(--little-size);
	text-transform: uppercase;
	font-weight: 600;
	border-radius: var(--radius);
}
.info_ps {
	display: flex;
	flex-direction: column;
	gap: 35px;
	justify-content: space-between;
	height: 100%;
}
.text-block {
	margin: 0 auto;
	width: 100%;
}
.text-block span:first-child {
	display: block;
	font-family: var(--special-font);
	font-size: var(--xxl-size);
	line-height: var(--xxl-size);
	color: var(--contrast);
}
.text-block > div:last-child {
	background-color: var(--neutral);
	padding: 20px 30px;
	border-radius: var(--radius);
	position: relative;
	height: 330px;
}
.desc {
	height: 290px;
}
.num_pseudo {
	display: flex;
	gap: 5px;
	margin-bottom: -30px;
}
.infogrid_prz2 {
	position: relative;
	border-radius: 8px;
	padding: -40px 0 0 0;
	display: grid;
	margin: 8px 16px 0 16px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto auto;
	grid-gap: 16px;
}
.infogrid_prz2 .infogrid {
	text-align: center;
	padding: 16px;
	border-radius: var(--radius);
	background-color: var(--neutralDark);
}
.num_fiche {
	display: flex;
	margin: -10px 0 -40px;
}
.num_fiche span {
	display: block;
	font-family: var(--special-font);
	font-size: var(--xxl-size);
	line-height: var(--xxl-size);
	color: var(--contrast);
}
.sstitre_fiche {
	text-align: center;
	color: var(--contrast);
	font-size: var(--little-size);
	text-transform: uppercase;
	letter-spacing: 5px;
}
.chronologie {
	position: relative;
	overflow: hidden;
}
.dates {
	display: flex;
	overflow-x: auto;
}
.dates::-webkit-scrollbar {
	height: 0;
}
.madate {
	white-space: nowrap;
	position: relative;
	cursor: pointer;
	padding: 0 8px 5px 5px;
	font-family: var(--font-2);
	color: var(--contrast);
}
.ligne-chronologique {
	position: absolute;
	z-index: 1;
	left: 0;
	width: 100%;
	height: 1px;
	background: var(--co-gradient);
}
.bubulle {
	position: absolute;
	left: 16.5px;
	bottom: -6px;
	width: 12px;
	height: 12px;
	background: radial-gradient(var(--co-3), var(--co-1));
	border-radius: 50%;
	transition: left 0.5s;
}
.contenu {
	display: flex;
	transition: transform 0.3s ease;
}
.monevenement {
	flex: 1 0 100%;
	height: fit-content;
	max-height: 530px;
	overflow: auto;
	padding: 20px;
	background: var(--neutral);
	border-radius: 0 0 var(--radius) var(--radius);
}
.monevenement.cache {
	display: none;
}
annee {
	display: block;
	font-size: var(--xxl-size);
	font-family: var(--special-font);
	font-style: italic;
	letter-spacing: -5px;
	margin: 5px 0 -15px;
	color: var(--co-3);
	opacity: 0.5;
}
card {
	position: relative;
	display: block;
	padding: 20px;
	background: var(--neutralDark);
	border-radius: var(--radius);
	backdrop-filter: blur(2px);
}
more {
	display: flex !important;
	justify-content: center;
	align-items: center;
	margin: -25px auto;
	width: 50px;
	height: 50px;
	background: var(--co-gradient);
	border-radius: 50%;
	font-family: var(--font-2);
	font-style: italic;
} /*** INFOBULLES ***/ /* Tooltip container */
.tooltip {
	color: white;
	position: relative;
	display: inline-block;
} /* Tooltip text */
.tooltip .toolcnt {
	visibility: hidden;
	position: absolute;
	bottom: 45px;
	left: -100px;
	right: -100px;
	margin: 0 auto;
	background-color: var(--neutralDarker);
	color: var(--contrast);
	font-size: var(--little-size);
	padding: 5px;
	border-radius: var(--radius);
	z-index: 1;
	text-transform: none !important;
	font-family: var(--font);
	font-style: normal;
	max-width: 200px;
	opacity: 0;
	transition: opacity 0.6s;
}
.tooltip::after {
	content: '';
	visibility: hidden;
	position: absolute;
	bottom: 35px;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: var(--neutralDarker) transparent transparent transparent;
	opacity: 0;
	transition: opacity 0.6s;
} /* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover {
	z-index: 2;
}
.tooltip:hover .toolcnt,
.tooltip:hover::after {
	visibility: visible;
	opacity: 1;
}

/*** ------------------------------- ***/
/*** modèle admin ------------ ***/

.modele_1 {
	background: var(--neutral);
	width: 700px;
	margin: auto;
	line-height: 1.5em;
	border-radius: var(--radius);
	padding: 20px;
	position: relative;
}
.title_mod1 {
	display: block;
	width: -webkit-fit-content;
	margin: 0 auto 5px;
	padding: 0 var(--spacing);
	font-family: var(--special-font);
	font-size: var(--xl-size);
	line-height: var(--xl-size);
	color: var(--co-1);
	background: var(--co-gradient);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-shadow: 0px 0px transparent;
	text-align: center;
}
.title_mod1::before {
	content: '\0027E1\0027E3\0000A0';
}
.title_mod1::after {
	content: '\0000A0\0027E2\0027E1';
}
.num_mod1 {
	display: flex;
	margin: -10px 0 -30px;
}
.num_mod1 span {
	display: block;
	font-family: var(--special-font);
	font-size: var(--xxl-size);
	line-height: var(--xxl-size);
	color: var(--contrast);
}
.txt_mod1 {
	background-color: var(--neutralDark);
	padding: var(--spacing);
	z-index: 1;
	position: relative;
	border-radius: var(--radius);
	border-bottom: 1px solid var(--co-1);
}
.modele_1::before,
.modele_1::after {
	content: '\eca0';
	font-family: var(--font-ic);
	font-size: var(--medium-size);
	position: absolute;
}
.modele_1::before {
	color: var(--co-1);
	left: -5px;
	top: -10px;
}
.modele_1::after {
	color: var(--co-2);
	right: -5px;
	bottom: -10px;
}

.fc {
    display: grid;
    grid-template-columns: 102px 1fr auto 1fr;
    gap: 5px;
    background-color: var(--neutralDark);
    padding: 5px;
    z-index: 1;
    position: relative;
    border-radius: var(--radius);
    border-bottom: 1px solid var(--co-1);
}

.wiz {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 5px;
	background-color: var(--neutralDark);
	padding: 5px;
	z-index: 1;
	position: relative;
	border-radius: var(--radius);
	border-bottom: 1px solid var(--co-1);
	margin-bottom: 10px;
}

.dim {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    background-color: var(--neutralDark);
    padding: 5px;
    z-index: 1;
    position: relative;
    border-radius: var(--radius);
    border-bottom: 1px solid var(--co-1);
}

.dim a {
    background: var(--neutralDarker);
    padding: 0 5px;
    border-radius: var(--radius);
}

.cont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    background-color: var(--neutralDark);
    padding: 5px;
    z-index: 1;
    position: relative;
    border-radius: var(--radius);
    border-bottom: 1px solid var(--co-1);
    margin-bottom: 10px;
}

a.groupe { 
	  text-align: right; 
	  border-radius: var(--radius);
}

.cont a.groupe {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--neutralDark);
}

.cont span {
    font-size: var(--little-size);
    line-height: var(--little-size);
}

duo.ok { 
	  padding: 0 5px; background: var(--co-3);
	  text-transform: uppercase;
	  text-align: center;
	  font-size: var(--little-size);
	  border-radius: var(--radius);
	  letter-spacing: 1px;
  } 

  pris, res { 
	  border-radius: var(--radius); 
	  background: var(--neutralDarker); 
	  padding: 0 5px; 
	  text-transform: uppercase; 
	  font-size: var(--little-size);
	  letter-spacing: 1px;
	  font-weight: 700;
  }

  pris { 
	  border-left: 4px solid var(--co-1);
  }

  res { 
	  border-left: 4px solid var(--co-2);
  } 

  .pl, inv { 
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  color: white;
	  width: 25px;
	  border-radius: var(--radius);
  } 

  .pl {
	  background: var(--co-1);
  } 

  inv {
	  background: var(--co-2);
  } 

  .grp {text-align: right}

/*** ------------------------------- ***/
/*** MENU ABSOLUTE ------------ ***/
/* NAVIGATION */
         .navig {
            display: grid;
            align-items: center;
            z-index: 998;
            position: fixed;
	    top: 1px;
	    left: 22px;
            box-sizing: border-box;
            font-family: var(--base-font);
            transition: .5s all
        }

        /* MENU BURGER (FRITES) */
  	.nav_home {
		position: absolute;
		top: 10px;
		right: 8px;
	}

	.nav_home span {
		width: 15px;
		height: 15px;
		padding: 5px;
		border-radius: 50%;
		background: var(--co-gradient);
	}

        .nav_burger {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            z-index: 102;
            width: 20px;
            height: 15px;
            margin-left: auto;
            transform: translate(-10px, 10px);
            text-align: center
        }

        .nav_burger span {
            display: block;
            height: 2px;
            background: var(--contrast);
            border-radius: var(--radius)
        }

        .nav_burger span::before {
            content: '';
            display: block;
            margin-left: -5px;
            width: 2px;
            height: 2px;
            border-radius: 50%;
            background: var(--contrast)
        }

        .nav_burger span:nth-child(1) {
            transition: top .3s cubic-bezier(0.21, 0.83, 0.26, 0.87) .3s, transform .3s cubic-bezier(0.21, 0.83, 0.26, 0.87)
        }

        .nav_burger span:nth-child(2) {
            opacity: 1
        }

        .nav_burger span:last-child {
            transition: top .3s cubic-bezier(0.21, 0.83, 0.26, 0.87) .3s, transform .3s cubic-bezier(0.21, 0.83, 0.26, 0.87)
        }

        .nav_burger.open {
            justify-content: center
        }

        .nav_burger.open::after {
            content: ''
        }

        .nav_burger.open span:nth-child(1) {
            transform: rotate(45deg) translateY(0);
            transition: top .3s cubic-bezier(0.21, 0.83, 0.26, 0.87), transform .3s cubic-bezier(0.21, 0.83, 0.26, 0.87) .3s;
        }

        .nav_burger.open span:nth-child(2) {
            opacity: 0
        }

        .nav_burger.open span:last-child {
            margin-top: -4px;
            transform: rotate(-45deg) translateY(0);
            transition: bottom .3s cubic-bezier(0.21, 0.83, 0.26, 0.87), transform .3s cubic-bezier(0.21, 0.83, 0.26, 0.87) .3s
        }

        .nav_burger-cnt {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            width: 280px;
            z-index: 101;
            box-sizing: border-box;
            background: var(--neutralDarker);
            border-radius: var(--radius);
            transform: translateX(-400px);
            transition: all .2s ease-out
        }

        .nav_burger-cnt.open {
            transform: translateX(0px)
        }

        .nav_menu {
            margin: 35px 15px 15px;
            overflow: hidden auto;
            height: calc(100vh - 50px);
        }

        /* contenu */
        .nav_burger-grid {
            transform: translateY(0px);
            display: grid;
            grid-template: repeat(4, auto) / 240px;
            width: 980px;
            margin: 0 auto
        }

        .nav_burger-grid>div {
            display: flex;
            flex-direction: column;
            border-radius: var(--radius)
        }

        .nav_burger-grid>div>a,
        .nav_burger-grid b1 {
            display: block;
            margin-top: 8px;
            padding: 3px 6px;
            text-transform: uppercase;
            font-size: var(--little-size);
            letter-spacing: 1px;
        }
      
      .nav_burger-grid b1::after {content: none}

        .nav_burger-grid>div>a::before,
        .nav_burger-grid b1::before {
            content: '\0027E1';
            margin-right: 10px;
        }

        .nav_burger-grid>div>a:hover::before {
            width: 10px;
            opacity: 1
        }

        .nav_menu h2 {
            margin: 20px 0 0;
        }

        .nav_menu h2 span {
            display: block;
            color: var(--contrast);
            font-size: var(--large-size);
            text-transform: uppercase;
            font-family: var(--special-font);
            background: var(--co-gradient);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-shadow: 0px 0px transparent;
            width: fit-content;
            margin-left: auto;
        }

        .nav_menu h2::after {
            content: '';
            background: var(--co-gradient);
            display: block;
            width: 100%;
            height: 1px;
        }

/*** ------------------------------- ***/
/*** ÉDITEUR DE TEXTE ------------ ***/
div#quickreply_content .h3 + br {
	display: none;
}

.quickreply {
	padding: 5px !important;
}

.sceditor-container {
	background: transparent !important;
	border: none !important;
}

/* Barre d'outils de l'éditeur de texte*/
div.sceditor-toolbar {
	background: var(--neutralDarker) !important;
	margin: 0 !important;
	padding: 7px 0 !important;
	border-radius: var(--radius) var(--radius) 0 0 !important;
	border-bottom: 1px solid var(--white) !important;
}

/* Conteneur des groupes d'outils */
.sceditor-group {
	background: transparent !important;
	border: 1px solid transparent !important;
	border-radius: var(--radius) !important;
}

/* Conteneur de la zone de texte */
.sceditor-container iframe,
.sceditor-container textarea {
	background-color: transparent !important;
	/*ne pas supprimer*/
	width: 100% !important;
	margin: 0 !important;
	padding: 5px !important;
	/*ne pas supprimer*/
	min-height: 250px !important;
}

/*Boîte Smiley*/
body#sce_smilies_body {
	background: transparent !important;
}

#quick_reply #textarea_content,
div.sceditor-container,
body div.sceditor-group,
a.sceditor-button:hover,
a.sceditor-button.hover {
	background: none !important;
	border: none !important;
	box-shadow: none !important;
	padding: 0 !important;
	margin: 0 !important;
	border-radius: var(--radius) !important;
}

/* dropdown */
div.sceditor-dropdown {
	background: var(--neutralDark) !important;
	border: none !important;
	margin-top: 45px !important;
}

.editeur .h3 {
	display: none;
}

#quick_reply #textarea_content,
#message-box #textarea_content {
	background: var(--body-img) center;
	background-size: cover;
	border-radius: var(--radius) !important;
}

#quick_reply #textarea_content {
	overflow: inherit;
}

#message-box #textarea_content {
	overflow: hidden;
}

#message-box textarea {
	height: 500px !important;
}

.sceditor-container {
	background: var(--base-6) !important;
}

/* compteur de mots */
div#compteur-mots {
	text-align: center;
	font-weight: 400;
	padding: 8px 0;
	text-transform: uppercase;
	font-size: var(--xs-size);
	letter-spacing: 1px;
}

#preview .inner .postbody {
	margin: var(--spacing) !important;
}

div.sceditor-dropdown a,
div.sceditor-dropdown a:link,
div.sceditor-dropdown label {
	color: var(--textColor) !important;
}

#sceditor_smilies {
	color: gray !important;
	outline: none !important;
}

.sceditor-dropdown a:hover {
	background: var(--co-1) !important;
}

.sceditor-mention-user {
	background: var(--neutralDark) !important;
	border-color: var(--neutralDark) !important;
}

.sceditor-mention-user:hover {
	background: var(--neutralDark) !important;
	color: var(--textColor) !important;
}

.sceditor-mention-user img {
	border: none !important;
	margin: 0 10px 0 -3px !important;
}

div.sceditor-dropdown input,
div.sceditor-dropdown textarea {
	border-top: none !important;
	border-left: none !important;
	border-right: none !important;
	width: 100%;
}

div.sceditor-dropdown .button {
	background: var(--co-1) !important;
	color: white !important;
	border: none !important;
	font-weight: 600 !important;
}

div.sceditor-dropdown .button:hover {
	color: var(--co-1) !important;
	background: var(--neutralDark) !important;
}

/* zone de texte */
.sceditor-container iframe,
.sceditor-container textarea {
	display: block;
	width: 100% !important;
	height: 300px !important;
	line-height: 175%;
	font-size: var(--normal-size) !important;
}

/* icone menu edition */
.sceditor-toolbar .sceditor-button {
	text-indent: 0;
	padding: 1px !important;
	width: 32px !important;
	height: 32px !important;
}

.sceditor-toolbar .sceditor-button div {
	font-family: FontAwesome;
	font-weight: normal;
	line-height: 30px;
	width: 100%;
	height: 100%;
	background: var(--co-gradient) !important;
	-webkit-background-clip: text !important;
    background-clip: text !important;
	-webkit-text-fill-color: transparent;
	font-size: 0;
}

.sceditor-toolbar .sceditor-button div::before {
	font-size: var(--normal-size) !important;
}

/* bold */
.sceditor-button-bold div:before {
	content: '\f032';
}

/* italic */
.sceditor-button-italic div:before {
	content: '\f033';
}

/* underline */
.sceditor-button-underline div:before {
	content: '\f0cd';
}

/* strike */
.sceditor-button-strike div:before {
	content: '\f0cc';
}

/* text align left */
.sceditor-button-left div:before {
	content: '\f036';
}

/* text align center */
.sceditor-button-center div:before {
	content: '\f037';
}

/* text align right */
.sceditor-button-right div:before {
	content: '\f038';
}

/* text align justify */
.sceditor-button-justify div:before {
	content: '\f039';
}

/* bullet list */
.sceditor-button-bulletlist div:before {
	content: '\f0ca';
}

/* ordered list */
.sceditor-button-orderedlist div:before {
	content: '\f0cb';
}

/* horizontal rule */
.sceditor-button-horizontalrule div:before {
	content: '\f2d1';
}

/* quote */
.sceditor-button-quote div:before {
	content: '\f10d';
}

/* code */
.sceditor-button-code div:before {
	content: '\f121';
}

/* spoiler */
.sceditor-button-faspoiler div:before {
	content: '\f066';
}

/* hide */
.sceditor-button-fahide div:before {
	content: '\f070';
}

/* table */
.sceditor-button-table div:before {
	content: '\f0ce';
}

/* host an image */
.sceditor-button-servimg div:before {
	content: '\f0ee';
}

/* insert an image */
.sceditor-button-image div:before {
	content: '\f03e';
}

/* insert a link */
.sceditor-button-link div:before {
	content: '\f0c1';
}

/* embed a post */
.sceditor-button-embed div:before {
	content: '\f019';
}

/* youtube */
.sceditor-button-youtube div:before {
	content: '\f16a';
}

/* dailymotion */
.sceditor-button-dailymotion div:before {
	content: '\f008';
}

/* header */
.sceditor-button-headers div:before {
	content: '\f1dc';
}

/* flash */
.sceditor-button-flash div:before {
	content: '\f0e7';
}

/* font size */
.sceditor-button-size div:before {
	content: '\f034';
}

/* font color */
.sceditor-button-color div:before {
	content: '\f1fb';
}

/* font family */
.sceditor-button-font div:before {
	content: '\f031';
}

/* remove formatting */
.sceditor-button-removeformat div:before {
	content: '\f12d';
}

/* mention a user */
.sceditor-button-mention div:before {
	content: '\f1fa';
}

/* button more */
.sceditor-button-more div:before {
	content: '\f196';
}

/* sub script */
.sceditor-button-subscript div:before {
	content: '\f12c';
}

/* super script */
.sceditor-button-superscript div:before {
	content: '\f12b';
}

/* scroll horizontal */
.sceditor-button-fascroll div:before {
	content: '\f07e';
}

/* scroll vertical */
.sceditor-button-faupdown div:before {
	content: '\f07d';
}

/* WoW */
.sceditor-button-fawow div:before {
	content: '\f118';
}

/* random */
.sceditor-button-farand div:before {
	content: '\f074';
}

/* emoticon */
.sceditor-button-emoticon div:before {
	content: '\f5b8';
}

/* emoticon */
.sceditor-button-twemojifa div:before {
	content: '\f584';
}

/* date */
.sceditor-button-date div:before {
	content: '\f133';
}

/* time */
.sceditor-button-time div:before {
	content: '\f017';
}

/* paste text */
.sceditor-button-pastetext div:before {
	content: '\f0ea';
}

/* switch editor mode */
.wysiwygMode .sceditor-button-source div:before {
	content: '\f204';
}

.sourceMode .sceditor-button-source div:before {
	content: '\f205';
}

/* bouton sauvegarde */
#save_button div::before {
	content: '\f0c7';
	font-weight: bold;
}
#savec {
	position: relative;
}
.save-bloc {
	z-index: 999;
	padding: 5px;
	background: #efefef url(https://2img.net/i/fa/prosilver/bg_button.gif)
		repeat-x;
	display: none;
	top: 20px;
	left: 0px;
	position: absolute;
	white-space: nowrap;
}
.save-bloc div {
	cursor: pointer;
	color: var(--textColor);
}
.save-bloc select {
	background: var(--neutralDark);
	margin-bottom: 5px;
}
#saves span {
	background: var(--co-gradient);
	text-transform: uppercase;
	font-size: var(--small-size);
	font-weight: 600;
	padding: 2px 5px;
	border-radius: 5px;
	color: white;
}

/* COULEURS DANS LES CODES */
/*** COPY CODES ***/
.hljs-string,
.hljs-variable,
.hljs-template-variable,
.hljs-strong,
.hljs-emphasis,
.hljs-quote {
    color: var(--co-2) !important;
}

.hljs-tag,
.hljs-keyword,
.hljs-selector-tag,
.hljs-type,
.hljs-title,
.hljs-attr,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
    color: var(--textColor) !important;
}

.hljs-section,
.hljs-name {
    color: var(--co-1) !important;
}
