@font-face {
    font-family: 'GOLDENTREADS';
    src: url('GOLDENTREADSRegular.woff2') format('woff2'),
        url('GOLDENTREADSRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

