@font-face {
    font-family: 'ROSSELI';
    src: url('ROSSELIRegular.woff2') format('woff2'),
        url('ROSSELIRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

