@font-face {
    font-family: 'Kindly Season DEMO';
    src: url('KindlySeasonDEMO-Regular.woff2') format('woff2'),
        url('KindlySeasonDEMO-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

